/*////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////// ALL / PFP / ETC //////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/


/*/ Background /*/


body {
    background: rgb(var(--color-background)) url("https://files.catbox.moe/bhkajn.jpg") center/100% fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: hard-light;
}

img.avatar,
h1.name {
    margin: auto;
}

.user .banner {
    background-image: none !important;
    background-color: rgb(36, 37, 56, 0) !important;
    height: auto !important;
}

.banner-content {
    display: flex !important;
    align-content: center;
    flex-direction: column;
    align-items: center !important;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: auto !important;
    --pad: 85px;
    padding-top: var(--pad) !important;
}

#app.transparent {
    background-color: rgb(0 0 0 / 30%);
}

#app {
    background-color: rgb(0 0 0 / 30%);
}

.content-wrap {
    background: rgba(var(--color-foreground), 0.7) !important;
    backdrop-filter: blur(4px);
}

/*/ Dropdown /*/


.user-wrap:hover:after {
    height: 60px !important;
    width: 400% !important;
}

/*/ header /*/
/*
.header[data-v-5776f768] {
    background: rgba(var(--color-foreground),0.8);
    position: relative;
    width: 70%;
    border-radius: 20px;
    text-align: -webkit-center;
    left: 15%;
    backdrop-filter: blur(4px);
}
*/
/*/ Avatar /*/


.banner-content > .avatar {
    max-height: 15% !important;
    max-width: 15% !important;
    transition: all .5s;
}

.banner-content > .avatar:hover {
    transition:all .5s;
    transform: scale(1.1);
}


/*/ Name /*/


.name-wrapper {
	padding: 20px 0px 5px 0px !important;
    text-shadow: 0 0 1em currentColor;
}

.content.container {
    max-width: 95%;
    padding-left: 0px;
    padding-right: 0px;
}

.description {
    color: rgb(var(--color-text-light));
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0;
    max-width: 95%;
    padding: 15px 0;
    transition: .2s;
}

h1 {
	font-size: 3rem !important;
}

/*/ nav bar /*/

.nav.container {
    font-size: 1.4rem;
    text-align: center;
    background-color: rgba(var(--color-foreground),0.7);
    backdrop-filter: blur(4px);
    border-radius: 5px;
}

.nav-wrap {
    background: rgba(0, 0, 0, 0) !important;
    width: 80% !important;
    margin: auto;
}

/*hide the bg of the child of the nav bar that has 2 time blur applied to it  */
#nav > .wrap {
    background: none !important;
}

#nav {
    width: 80%;
    border-radius: 0px 0px 30px 30px;
    left: calc((100% - 80%) / 2); 
	background: rgb(var(--color-foreground), 0.5) !important;
    backdrop-filter: blur(4px);
}

.nav .link {
    color: rgb(var(--color-text-light));
    margin: 5px 10px !important;
    border-radius: 15%;
    text-shadow: 0 0 1em currentColor;
    background: none !important;
}

.nav .router-link-active {
    color: rgb(var(--color-blue));
}

/*/ \/ steal to RenZed \/ /*/


.nav > .link {
    position: relative;
    
}

.nav > .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: rgb(var(--color-blue));
    transition: all 0.3s ease-in-out;
}

.nav > .router-link-active::after {
    left: 0;
    width: 100%;
    background: rgb(var(--color-blue-dim));
    text-shadow: 0 0 1em currentColor;
}

.nav > .link:hover::after {
    left: 0;
    width: 100%;
    background: rgb(var(--color-blue));
    text-shadow: 0 0 1em currentColor;
}

/*/ /\ steal to RenZed /\ /*/


/*/ Others /*/


.hohDownload {
    display: none;
}

.actions {
	margin-left: unset !important;
}

.nav-btn {
    margin-left: unset !important;
    border-radius: 40px !important;
    padding: 10px 120px !important;
}

/*/ Anilist logo /*/


.logo img:hover {
    transition: all .5s;
    background-color: #333;
    border-radius: 5px;
}

.logo img {
    transition: all .5s;
}

/*////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////// Overview ///////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/


/*/ load button /*/


.load-more {
    width: 20%;
    margin: 20px auto !important;
    background: none !important;
    border: solid rgb(var(--color-blue));
    box-shadow: inset 0 0 .5em rgb(var(--color-blue)), 0 0 .5em rgb(var(--color-blue));
    text-shadow: 0 0 1em rgb(var(--color-blue));
    color: rgb(var(--color-blue));
    border-radius: 10px !important;
}

.load-more:hover {
    background: rgb(var(--color-blue)) !important;
    color: rgb(255, 255, 255) !important;
    text-shadow: none !important;
    box-shadow: inset 0 0 1em rgb(var(--color-blue)), 0 0 1em rgb(var(--color-blue)) !important;

}


/*/ fav Animes /*/


.favourite {
    transition: all .5s ease-in-out;
}

.favourites-wrap.anime.hohExtraFavs {
	max-height: none !important;
}

.favourite:hover {
    transition: all .5s ease-in-out;
    transform: perspective(100px) rotateX(5deg) scale(1.2);
    z-index: 10;
}

.favourites-wrap {
    overflow: visible !important;
}

.medialist.cards .entry-card .title {
    backdrop-filter: blur(3px);
}

/*/*/

.cover {
    z-index: 0;
}

.title {
    display: block;
}

/*/*/

/* about me */

/* change color of the separator to match the profile color*/
.markdown hr {
    border: solid 2px rgb(var(--color-blue));
}

/* Search bar */
.quick-search {
    left : auto !important;
}

/*////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////// Anime Page /////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/

.media .header {
    background: rgba(var(--color-foreground), 0.6);
}